block variables

mixin CREATE_HEAD()
    meta(charset="utf-8")
    title #{title}
    link(rel='stylesheet', href='../css/'+stylename)
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,600&display=swap" rel="stylesheet")
    link(rel="shortcut icon", href='./IMAGE/icon/icon.ico', type="image/x-icon")

mixin CREATE_NAV_HEADER()
    div.content__navigation__left
        
        div.dismenu= '☰'
            div.hiddenmenu
                each value,key in {'Распределение':'table_page.html','Silverfall':'waterfall_page.html','Plants':'plants_page.html','Caves':'cave_page.html','Fortress':'fort_page.html','Lake':'lake_page.html'}
                    a(href=value)=key
        
        a(href='main_page.html')='Twilight Grove'

    div.content__navigation__right
        each value,key in {'Распределение':'table_page.html','Silverfall':'waterfall_page.html','Plants':'plants_page.html','Caves':'cave_page.html','Fortress':'fort_page.html','Lake':'lake_page.html'}
            a(href=value)=key
    
    

mixin CREATE_FOOTER(footertext)
   p=footertext

doctype html 
html(lang="ru")
    head        
        +CREATE_HEAD(title, stylename)        
    body 
        div.content
            div.content__navigation
                +CREATE_NAV_HEADER()
                
            
            block main_content 

        div.footer
            +CREATE_FOOTER('© 2023 All rights disturbed ')